In [1]:
import pandas as pd
import re
import csv
import time

In [2]:
input_dir = 'paymo_input/'
batch_file = 'batch_payment.csv'
stream_file = 'stream_payment.csv'
batch_path = input_dir + batch_file
stream_path = input_dir + stream_file

test_file = 'batch_test_2.csv'
test_path = input_dir + test_file

In [4]:
batch_dict = {}
batch_dict['time'] = {}
batch_dict['id1'] = {}
batch_dict['id2'] = {}
batch_dict['amount'] = {}
batch_dict['message'] = {}

with open(batch_path, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for i, row in enumerate(reader):
        batch_dict['time'][i] = row['time']
        batch_dict['id1'][i] = row[' id1']
        batch_dict['id2'][i] = row[' id2']
        batch_dict['amount'][i] = row[' amount']
        batch_dict['message'][i] = row[' message']
        
df_batch = pd.DataFrame.from_dict(batch_dict)

In [4]:
stream_dict = {}
stream_dict['time'] = {}
stream_dict['id1'] = {}
stream_dict['id2'] = {}
stream_dict['amount'] = {}
stream_dict['message'] = {}

with open(stream_path, newline='') as csvfile:
    reader = csv.DictReader(csvfile)
    for i, row in enumerate(reader):
        stream_dict['time'][i] = row['time']
        stream_dict['id1'][i] = row[' id1']
        stream_dict['id2'][i] = row[' id2']
        stream_dict['amount'][i] = row[' amount']
        stream_dict['message'][i] = row[' message']
        
df_stream = pd.DataFrame.from_dict(stream_dict)

In [44]:
## BIG PROBLEM - SKIPPED OVER A BUNCH OF ENTRIES
batch_dict['message'][377592]
#print(len(batch_dict['message'].keys()))

' üá®üá¥üá®üá¥üá®üá¥üá®üá¥üëçüèºüéâ '

In [5]:
#dictionary columns are randomly ordered - reorder as expected
df_batch = df_batch[['time','id1','id2','amount','message']]
df_stream = df_stream[['time','id1','id2','amount','message']]

In [7]:
df_batch.tail()

                        time     id1     id2  amount         message
3934578  2016-11-02 09:49:29   20942     826   39.40            üçªüçæüç∑
3934579  2016-11-02 09:49:29    2464    2425    6.03   Taco tuesday
3934580  2016-11-02 09:49:29   68862   25922   22.48        Comcast
3934581  2016-11-02 09:49:29   66910   21661   21.28          Signs
3934582  2016-11-02 09:49:29   64593   18179   31.57      blue kiwi

In [25]:
givers = df_batch.groupby('id1')
receivers = df_batch.groupby('id2')
partners_1 = {}
partners_2 = {}

In [26]:
for user,transactions in givers:
    partners_1[int(user)] = list(givers.get_group(user)['id2'])
    
for user,transactions in receivers:
    partners_2[int(user)] = list(givers.get_group(user)['id1'])
    
    #merge into single list, use .unique() to weed out duplicates
    #stations = pd.concat([start_stations, end_stations], axis=0, ignore_index = True)
    #unique_stations = stations.unique()
    #visited_stations[k] = len(unique_stations)
    #partners[user] =

KeyError: ' and even if it were to be disadvantageous from the economic standpoint'

In [32]:
list(partners_2.keys())

[' 18992',
 ' 18639',
 ' 24078',
 ' 30626',
 ' 39498',
 ' 35865',
 ' 28320',
 ' 10780',
 ' 119',
 ' 17934',
 ' 34538',
 ' 22464',
 ' 6701',
 ' 1741',
 ' 53200',
 ' 45240',
 ' 57752',
 ' 59441',
 ' 52016',
 ' 26090',
 ' 27269',
 ' 9375',
 ' 1937',
 ' 66019',
 ' 49603',
 ' 23866',
 ' 71852',
 ' 47137',
 ' 5597',
 ' 36724',
 ' 43940',
 ' 29022',
 ' 37707',
 ' 6102',
 ' 10882',
 ' 9246',
 ' 4566',
 ' 49459',
 ' 2386',
 ' 74265',
 ' 28182',
 ' 69552',
 ' 14679',
 ' 67912',
 ' 5598',
 ' 74011',
 ' 8643',
 ' 10012',
 ' 24135',
 ' 66887',
 ' 2732',
 ' 11255',
 ' 63629',
 ' 63346',
 ' 44657',
 ' 5879',
 ' 56928',
 ' 14702',
 ' 8927',
 ' 61650',
 ' 59089',
 ' 19180',
 ' 35804',
 ' 4520',
 ' 54441',
 ' 8448',
 ' 71064',
 ' 9077',
 ' 40581',
 ' 76137',
 ' 23419',
 ' 43579',
 ' 75175',
 ' 10231',
 ' 1433',
 ' 71676',
 ' 68729',
 ' 69809',
 ' 3336',
 ' 59286',
 ' 24386',
 ' 68473',
 ' 69933',
 ' 23663',
 ' 37276',
 ' 6789',
 ' 15091',
 ' 60396',
 ' 11922',
 ' 61130',
 ' 40866',
 ' 55116',
 ' 16375',
 ' 65019',
 ' 45857',
 ' 27792',
 ' 11505',
 ' 25008',
 ' 7459',
 ' 11357',
 ' 37054',
 ' 38928',
 ' 47792',
 ' 33522',
 ' 70521',
 ' 12838',
 ' 77334',
 ' 32745',
 ' 30537',
 ' 43629',
 ' 10636',
 ' 36812',
 ' 2080',
 ' 26702',
 ' 43727',
 ' 69222',
 ' 19590',
 ' 40788',
 ' 60989',
 ' 72791',
 ' 20108',
 ' 44361',
 ' 21507',
 ' 5845',
 ' 33500',
 ' 57289',
 ' 3696',
 ' 10490',
 ' 44142',
 ' 16025',
 ' 35274',
 ' 2339',
 ' 62918',
 ' 2811',
 ' 68842',
 ' 15181',
 ' 6446',
 ' 30298',
 ' 28793',
 ' 67141',
 ' 35900',
 ' 9197',
 ' 68946',
 ' 16734',
 ' 938',
 ' 14798',
 ' 27310',
 ' 39947',
 ' 52674',
 ' 28180',
 ' 73463',
 ' 8705',
 ' 5987',
 ' 72533',
 ' 61212',
 ' 12366',
 ' 59389',
 ' 42960',
 ' 9682',
 ' 6919',
 ' 70208',
 ' 62248',
 ' 30292',
 ' 17823',
 ' 1401',
 ' 55134',
 ' 58141',
 ' 61303',
 ' 73342',
 ' 73898',
 ' 10937',
 ' 52223',
 ' 57741',
 ' 22003',
 ' 2254',
 ' 60635',
 ' 66592',
 ' 43602',
 ' 60857',
 ' 15101',
 ' 25351',
 ' 35077',
 ' 48750',
 ' 54751',
 ' 21839',
 ' 12911',
 ' 51433',
 ' 8015',
 ' 53561',
 ' 34009',
 ' 19917',
 ' 18377',
 ' 29271',
 ' 13875',
 ' 62878',
 ' 23371',
 ' 4097',
 ' 27895',
 ' 42243',
 ' 24015',
 ' 20305',
 ' 20593',
 ' 56619',
 ' 58957',
 ' 14872',
 ' 1704',
 ' 150',
 ' 3005',
 ' 71211',
 ' 14801',
 ' 50198',
 ' 54161',
 ' 53179',
 ' 70027',
 ' 12006',
 ' 28466',
 ' 63209',
 ' 26607',
 ' 3773',
 ' 28456',
 ' 13',
 ' 1338',
 ' 76653',
 ' 29839',
 ' 53694',
 ' 48564',
 ' 63981',
 ' 70516',
 ' 67771',
 ' 65814',
 ' 67326',
 ' 10390',
 ' 59611',
 ' 70665',
 ' 46384',
 ' 77307',
 ' 52141',
 ' 69785',
 ' 41867',
 ' 27596',
 ' 24253',
 ' 36299',
 ' 18488',
 ' 61219',
 ' 34268',
 ' 27595',
 ' 12457',
 ' 72448',
 ' 9283',
 ' 17401',
 ' 5076',
 ' 40506',
 ' 70837',
 ' 33884',
 ' 26259',
 ' 3492',
 ' 43937',
 ' 25260',
 ' 72930',
 ' 74818',
 ' 38920',
 ' 72908',
 ' 76302',
 ' 55606',
 ' 17082',
 ' 34565',
 ' 34539',
 ' 22719',
 ' 47386',
 ' 69071',
 ' 7148',
 ' 70486',
 ' 37567',
 ' 30028',
 ' 10547',
 ' 72416',
 ' 61699',
 ' 1276',
 ' 18573',
 ' 38024',
 ' 996',
 ' 40242',
 ' 19704',
 ' 60287',
 ' 65088',
 ' 9955',
 ' 25218',
 ' 18922',
 ' 58256',
 ' 62391',
 ' 35136',
 ' 47141',
 ' 7043',
 ' 40994',
 ' 70205',
 ' 3387',
 ' 8711',
 ' 28530',
 ' 7164',
 ' 19008',
 ' 67770',
 ' 17286',
 ' 15665',
 ' 33529',
 ' 19134',
 ' 8933',
 ' 69050',
 ' 9026',
 ' 4527',
 ' 47196',
 ' 3054',
 ' 60926',
 ' 50655',
 ' 51220',
 ' 3313',
 ' 68365',
 ' 44823',
 ' 32601',
 ' 34918',
 ' 43902',
 ' 6424',
 ' 39074',
 ' 20934',
 ' 13907',
 ' 71556',
 ' 19029',
 ' 72932',
 ' 17552',
 ' 67948',
 ' 51128',
 ' 59067',
 ' 44450',
 ' 44596',
 ' 62214',
 ' 60136',
 ' 1587',
 ' 72316',
 ' 28512',
 ' 61711',
 ' 53677',
 ' 76055',
 ' 53271',
 ' 50223',
 ' 27173',
 ' 26358',
 ' 21475',
 ' 57029',
 ' 770',
 ' 70292',
 ' 7646',
 ' 67993',
 ' 47831',
 ' 19104',
 ' 20131',
 ' 63075',
 ' 71544',
 ' 62594',
 ' 14721',
 ' 30472',
 ' 22165',
 ' 25406',
 ' 66978',
 ' 75374',
 ' 54324',
 ' 30877',
 ' 9912',
 ' 58194',
 ' 5092',
 ' 21671',
 ' 68743',
 ' 65829',
 ' 21080',
 ' 58795',
 ' 61174',
 ' 61338',
 ' 70911',
 ' 21811',
 ' 8824',
 ' 12646',
 ' 25018',
 ' 18567',
 ' 62546',
 ' 62226',
 ' 15922',
 ' 23348',
 ' 59817',
 ' 42673',
 ' 62506',
 ' 10816',
 ' 19438',
 ' 40061',
 ' 45221',
 ' 39984',
 ' 64854',
 ' 3739',
 ' 34870',
 ' 67957',
 ' 37265',
 ' 1609',
 ' 7306',
 ' 22257',
 ' 63096',
 ' 22804',
 ' 10432',
 ' 63369',
 ' 69975',
 ' 32947',
 ' 7233',
 ' 52940',
 ' 18767',
 ' 28683',
 ' 33451',
 ' 77335',
 ' 12215',
 ' 8743',
 ' 9355',
 ' 34482',
 ' 37589',
 ' 6753',
 ' 59174',
 ' 42421',
 ' 4260',
 ' 56204',
 ' 5192',
 ' 10877',
 ' 53242',
 ' 2396',
 ' 50072',
 ' 51541',
 ' 6652',
 ' 43037',
 ' 60184',
 ' 77316',
 ' 56653',
 ' 44167',
 ' 49530',
 ' 20398',
 ' 25519',
 ' 69154',
 ' 72413',
 ' 35427',
 ' 42216',
 ' 15214',
 ' 45888',
 ' 54485',
 ' 9893',
 ' 51326',
 ' 29934',
 ' 22555',
 ' 20808',
 ' 68924',
 ' 72239',
 ' 32829',
 ' 32201',
 ' 29355',
 ' 44104',
 ' 58212',
 ' 70331',
 ' 3514',
 ' 61599',
 ' 21707',
 ' 26192',
 ' 51703',
 ' 74056',
 ' 54521',
 ' 71880',
 ' 67058',
 ' 1162',
 ' 6250',
 ' 28676',
 ' 42321',
 ' 75321',
 ' 55746',
 ' 55963',
 ' 73916',
 ' 49413',
 ' 29084',
 ' 66802',
 ' 52778',
 ' 75970',
 ' 26791',
 ' 27460',
 ' 75765',
 ' 41361',
 ' 46949',
 ' 44125',
 ' 52143',
 ' 30145',
 ' 30634',
 ' 51745',
 ' 20329',
 ' 36643',
 ' 13989',
 ' 65948',
 ' 64860',
 ' 19570',
 ' 53182',
 ' 5504',
 ' 244',
 ' 66514',
 ' 49914',
 ' 10066',
 ' 7047',
 ' 7205',
 ' 26685',
 ' 64318',
 ' 22093',
 ' 32290',
 ' 27652',
 ' 45001',
 ' 67475',
 ' 6328',
 ' 52396',
 ' 57447',
 ' 62240',
 ' 46959',
 ' 9513',
 ' 14863',
 ' 68386',
 ' 30491',
 ' 59525',
 ' 19622',
 ' 28877',
 ' 73052',
 ' 76915',
 ' 2553',
 ' 54531',
 ' 27820',
 ' 70116',
 ' 69994',
 ' 50688',
 ' 72690',
 ' 68649',
 ' 53377',
 ' 27228',
 ' 21092',
 ' 28566',
 ' 61597',
 ' 16531',
 ' 57068',
 ' 19528',
 ' 64154',
 ' 66759',
 ' 64157',
 ' 23068',
 ' 60578',
 ' 14294',
 ' 52684',
 ' 54473',
 ' 36362',
 ' 22071',
 ' 63910',
 ' 22639',
 ' 9001',
 ' 33103',
 ' 35239',
 ' 7064',
 ' 7530',
 ' 18068',
 ' 76348',
 ' 44677',
 ' 58618',
 ' 56756',
 ' 62387',
 ' 36684',
 ' 51428',
 ' 23288',
 ' 34107',
 ' 71498',
 ' 24966',
 ' 68796',
 ' 42660',
 ' 3342',
 ' 60113',
 ' 47599',
 ' 58298',
 ' 60306',
 ' 2344',
 ' 22855',
 ' 48314',
 ' 37937',
 ' 19904',
 ' 44484',
 ' 10517',
 ' 57529',
 ' 71156',
 ' 43881',
 ' 66050',
 ' 11737',
 ' 33728',
 ' 66137',
 ' 39277',
 ' 65716',
 ' 68140',
 ' 24355',
 ' 11664',
 ' 74886',
 ' 44201',
 ' 35678',
 ' 63688',
 ' 1765',
 ' 45585',
 ' 65599',
 ' 68658',
 ' 70538',
 ' 53387',
 ' 56879',
 ' 61596',
 ' 57711',
 ' 24975',
 ' 50937',
 ' 47924',
 ' 17146',
 ' 4015',
 ' 11532',
 ' 25135',
 ' 18876',
 ' 6098',
 ' 71866',
 ' 62949',
 ' 47607',
 ' 51520',
 ' 12210',
 ' 944',
 ' 74183',
 ' 71525',
 ' 21672',
 ' 76483',
 ' 47956',
 ' 67691',
 ' 37812',
 ' 28520',
 ' 29101',
 ' 38510',
 ' 70191',
 ' 13331',
 ' 53011',
 ' 37425',
 ' 15290',
 ' 16314',
 ' 30502',
 ' 59480',
 ' 16912',
 ' 66217',
 ' 74323',
 ' 3186',
 ' 75362',
 ' 33956',
 ' 21746',
 ' 18479',
 ' 14057',
 ' 73513',
 ' 58658',
 ' 50092',
 ' 62380',
 ' 59730',
 ' 28272',
 ' 63025',
 ' 52019',
 ' 68319',
 ' 15828',
 ' 6877',
 ' 71129',
 ' 966',
 ' 73418',
 ' 17151',
 ' 76688',
 ' 38562',
 ' 58347',
 ' 19092',
 ' 25543',
 ' 60480',
 ' 34841',
 ' 54382',
 ' 20919',
 ' 51179',
 ' 44883',
 ' 36284',
 ' 35132',
 ' 9635',
 ' 45971',
 ' 34032',
 ' 12169',
 ' 15846',
 ' 47628',
 ' 34264',
 ' 55252',
 ' 12859',
 ' 49425',
 ' 38111',
 ' 3358',
 ' 25986',
 ' 2131',
 ' 55497',
 ' 16620',
 ' 53100',
 ' 20538',
 ' 28943',
 ' 2493',
 ' 13761',
 ' 42043',
 ' 7234',
 ' 27912',
 ' 37036',
 ' 50828',
 ' 13043',
 ' 37449',
 ' 24028',
 ' 75665',
 ' 12285',
 ' 11264',
 ' 2796',
 ' 19960',
 ' 37654',
 ' 40810',
 ' 55461',
 ' 18962',
 ' 49924',
 ' 30683',
 ' 54041',
 ' 27561',
 ' 70048',
 ' 8416',
 ' 46482',
 ' 30909',
 ' 59256',
 ' 35648',
 ' 9165',
 ' 64696',
 ' 40478',
 ' 26341',
 ' 4694',
 ' 41501',
 ' 41571',
 ' 37929',
 ' 73366',
 ' 53576',
 ' 66421',
 ' 56437',
 ' 61432',
 ' 13054',
 ' 57929',
 ' 26400',
 ' 37065',
 ' 40331',
 ' 54260',
 ' 66306',
 ' 54810',
 ' 33131',
 ' 14567',
 ' 59954',
 ' 47675',
 ' 54918',
 ' 11150',
 ' 21483',
 ' 9770',
 ' 36721',
 ' 15817',
 ' 39212',
 ' 7526',
 ' 33027',
 ' 44303',
 ' 19393',
 ' 34042',
 ' 2670',
 ' 60344',
 ' 60283',
 ' 36036',
 ' 55273',
 ' 38839',
 ' 68380',
 ' 68442',
 ' 57067',
 ' 18134',
 ' 68545',
 ' 59339',
 ' 18055',
 ' 53686',
 ' 23575',
 ' 66574',
 ' 16544',
 ' 3390',
 ' 71298',
 ' 27086',
 ' 12548',
 ' 23629',
 ' 67852',
 ' 76612',
 ' 41810',
 ' 71925',
 ' 33492',
 ' 65086',
 ' 31366',
 ' 73791',
 ' 10030',
 ' 12156',
 ' 57589',
 ' 74719',
 ' 44544',
 ' 75844',
 ' 1165',
 ' 34948',
 ' 57841',
 ' 74522',
 ' 14323',
 ' 1157',
 ' 13406',
 ' 35049',
 ' 25180',
 ' 33234',
 ' 75238',
 ' 10692',
 ' 74310',
 ' 6335',
 ' 292',
 ' 819',
 ' 51300',
 ' 45132',
 ' 55328',
 ' 57304',
 ' 63215',
 ' 23535',
 ' 69890',
 ' 52374',
 ' 19577',
 ' 16859',
 ' 1963',
 ' 51476',
 ' 63907',
 ' 28740',
 ' 57363',
 ' 28138',
 ' 16798',
 ' 60296',
 ' 73935',
 ' 45657',
 ' 60384',
 ' 7136',
 ' 9692',
 ' 47809',
 ' 28572',
 ' 11660',
 ' 57518',
 ' 65430',
 ' 11621',
 ' 28200',
 ' 46148',
 ' 15668',
 ' 21850',
 ' 34840',
 ' 65016',
 ' 59324',
 ' 21623',
 ' 1174',
 ' 63202',
 ' 42208',
 ' 16698',
 ' 47699',
 ' 70553',
 ' 49334',
 ' 68158',
 ' 7610',
 ' 58525',
 ' 64550',
 ' 65379',
 ' 32462',
 ' 27443',
 ' 44951',
 ' 68467',
 ' 3267',
 ' 14019',
 ' 749',
 ' 53143',
 ' 57095',
 ' 73445',
 ' 4391',
 ' 73862',
 ' 35534',
 ' 24270',
 ' 5959',
 ' 58973',
 ' 21279',
 ' 3803',
 ' 49680',
 ' 75076',
 ' 60854',
 ' 19226',
 ' 11753',
 ' 26336',
 ' 21688',
 ' 58693',
 ' 39095',
 ' 2436',
 ' 32367',
 ' 6690',
 ' 64686',
 ' 53332',
 ' 41449',
 ' 20834',
 ' 58680',
 ' 818',
 ' 76997',
 ' 14977',
 ' 53981',
 ' 70416',
 ' 8141',
 ' 41758',
 ' 6194',
 ' 19067',
 ' 46443',
 ' 11497',
 ' 54072',
 ' 35050',
 ' 45243',
 ' 24373',
 ' 35069',
 ' 27337',
 ' 47923',
 ' 9637',
 ' 56798',
 ' 2946',
 ' 75009',
 ' 41362',
 ' 14230',
 ' 71012',
 ' 63671',
 ' 61573',
 ' 37678',
 ' 32318',
 ' 46854',
 ' 4608',
 ' 77026',
 ' 2805',
 ' 65510',
 ' 8895',
 ' 8155',
 ' 51229',
 ' 22886',
 ' 31734',
 ' 34162',
 ' 48115',
 ' 717',
 ' 47756',
 ' 65179',
 ' 10971',
 ' 24450',
 ' 48682',
 ' 42228',
 ' 69533',
 ' 8765',
 ' 72524',
 ' 39336',
 ' 72010',
 ' 40895',
 ' 17523',
 ' 53693',
 ' 65489',
 ' 13004',
 ' 52859',
 ' 70871',
 ' 53009',
 ' 15263',
 ' 52610',
 ' 77233',
 ' 11499',
 ' 32468',
 ' 71534',
 ' 51055',
 ' 18331',
 ' 51892',
 ' 64073',
 ' 22304',
 ' 12725',
 ' 13614',
 ' 20666',
 ' 51024',
 ' 10327',
 ' 40430',
 ' 62743',
 ' 60802',
 ' 63312',
 ' 43168',
 ' 39842',
 ' 17821',
 ' 38748',
 ' 43531',
 ' 17346',
 ' 24292',
 ' 55736',
 ' 41631',
 ' 71804',
 ' 21903',
 ' 11180',
 ' 71715',
 ' 38656',
 ' 60070',
 ' 29801',
 ' 32057',
 ' 30585',
 ' 52370',
 ...]

In [ ]:
users = df.groupby('id1')

#store the number of visited stations in dictionary format, using each bikeid as key
visited_stations = {}

for k,v in bikes:
    #following gets list of start and end stations visited by each bike
    start_stations = bikes.get_group(k)['start station id']
    end_stations = bikes.get_group(k)['end station id']
    
    #merge into single list, use .unique() to weed out duplicates
    stations = pd.concat([start_stations, end_stations], axis=0, ignore_index = True)
    unique_stations = stations.unique()
    visited_stations[k] = len(unique_stations)