In [ ]:
import pandas as pd
import re
import csv

In [67]:
qq = "2016-11-02 09:38:53, 76941, 72045, 18.35, Hi Megan, I wanted to make sure this is you. Before I paid you for the sweat ðŸ‘• "

In [81]:
input_dir = 'paymo_input/'
batch_file = 'batch_payment.csv'
stream_file = 'stream_payment.csv'
batch_path = input_dir + batch_file
stream_path = input_dir + stream_file

test_file = 'batch_test_2.csv'
test_path = input_dir + test_file

In [112]:
time_batch = {}
id1_batch = {}
id2_batch = {}
amount_batch = {}
message_batch = {}

with open(batch_path) as csvfile:
    reader = csv.DictReader(csvfile)
    for i, row in enumerate(reader):
        time_batch[i] = row['time']
        id1_batch[i] = row[' id1']
        id2_batch[i] = row[' id2']
        amount_batch[i] = row[' amount']
        message_batch[i] = row[' message']

KeyboardInterrupt:

In [ ]:
df_batch = pd.DataFrame.from_dict([time_batch, id1_batch])

In [ ]:
time_stream = {}
id1_stream = {}
id2_stream = {}
amount_stream = {}
message_stream = {}

with open(stream_path) as csvfile:
    reader = csv.DictReader(csvfile)
    for i, row in enumerate(reader):
        time_stream[i] = row['time']
        id1_stream[i] = row[' id1']
        id2_stream[i] = row[' id2']
        amount_stream[i] = row[' amount']
        message_stream[i] = row[' message']

In [ ]:
df_stream = pd.DataFrame.from_dict([time_stream, id1_stream])

In [111]:
message[2000000]

' ðŸ‘½ '

In [33]:
batch.tail()

                    time    id1    id2   amount             message
220  2016-11-02 09:38:53  19633   2517    28.24   Fantasy earnings
221  2016-11-02 09:38:53  52398   8580     1.26          thanks bb
222  2016-11-02 09:38:53  26714  15402    14.25          Bojiggles
223  2016-11-02 09:38:53  65377  19063    24.47                  â›½
224  2016-11-02 09:38:53  37357   3376     8.96              Alpha